@model WebApplication10.Models.TasksToDo

@{
    ViewData["Title"] = "CreateForm";
}

@Html.Partial("_MyView")

<h1>CreateForm</h1>

<h4>TasksToDo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RedenBroj" class="control-label"></label>
                <input asp-for="RedenBroj" class="form-control" />
                <span asp-validation-for="RedenBroj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFinished" /> @Html.DisplayNameFor(model => model.IsFinished)
                </label>
                <span asp-validation-for="IsFinished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfHours" class="control-label"></label>
                <input asp-for="NumberOfHours" class="form-control" />
                <span asp-validation-for="NumberOfHours" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            
            
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            
            
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@Html.Partial("_MyView")


<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{Html.RenderPartial("_ValidationScriptsPartial");}
}*@