

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@{
    var parms = new Dictionary<string, string>
{
         { "number", "11" },
         { "name", "Jane" },
         { "isEven","true" }
     };
}

<a asp-controller="Home" asp-action="Privacy" asp-all-route-data="@parms">Privacy link</a>

</br></br>
Cached:<cache>@DateTime.Now</cache>
</br>
Not cahed: @DateTime.Now


<form asp-controller="Home" asp-action="Test" method="post">
    Email:  <input type="text" /> <br />
    Password: <input type="password" /><br />
    <button type="submit">Register</button>
</form>